
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/jq/ajax.js"></script>
    <title>postindex</title>
</head>
<body>
    <div class="container">
         <button class="btn btn-default" id="btn">OK</button>
        <div id="div"></div>
    </div>
</body>
</html>
