
@{
    ViewBag.Title = "select";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/jq/ajax.js"></script>

<h2>select</h2>

<div class="container">
    <form id="form1">
        <div>
            <div class="form-inline">
                <input type="text" ID="txt" class="form-control" />

                <input type="button" id="btnOK" class="btn btn-info" value="btnOK" />
                <input type="button" id="btnToggle" class="btn btn-info" value="btnOK" />
                <input type="button" id="btnselect" class="btn" value="btnselect" />
            </div>
            <ul id="list"></ul>
            <div style="width:500px">
                <table id="table" name="table" class="table table-bordered table-sm"></table>
                <div id="div2"></div>
            </div>

        </div>

    </form>
</div>

