@model WebApplication1.Models.stu
@{
    ViewBag.Title = "select";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/jq/Extends.js"></script>
<script src="~/jq/ajax.js"></script>

<h2>select</h2>

<div class="container">
    <form id="form1">
        <div>
            <div class="form-inline">
                <input type="text" ID="txt" class="form-control" />

                @*<input type="text" id="id" placeholder="id" />
                    <input type="text" id="name" placeholder="name" />
                    <input type="text" id="sex" placeholder="sex" />*@
                @Html.TextBoxFor(s => s.id)
                @Html.TextBoxFor(s => s.name)
                @Html.TextBoxFor(s => s.sex)
                <input type="button" id="btnselect" class="btn" value="btnselect" />
            </div>
            <div><input type="button" id="btnOK" class="btn btn-info" value="btnOK" style="position:fixed" /></div>
            <ul id="list"></ul>
            <div style="width:500px">
                <table id="table" name="table" class="table table-bordered table-sm"></table>
                <div id="div2"></div>
                <div id="divstu"></div>
            </div>

        </div>
        
    </form>
</div>