@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.TextArea("asd");
<input type="text" value="" id="aa" name="aa" class="btn btn-info" />
<label class="label label-default">qweqweqweqweqwe</label>